.RichText {
  border: 1px solid rgb(166, 166, 166);
  width: 300px;
}

.RichText:hover {
  border: 1px solid rgb(51, 51, 51);
}

.editIcon {
  height: 16px;
}

.ListView {
  .ListView_477d76ec {
    .DragDropArea_058a426f {
      min-height: 0px;
    }
  }
}
